
.EditCollection {
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: none;
  z-index: 5;
}

.edit-img {
  background: white;
  padding: 10px;
  border-radius: 50%;
  overflow: visible;
}

.addCollection {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: none;
}

.collection-show-title {
  font-size: 50px;
  color: #555555;
  font-weight: 700;
}

.collection-info p {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

.edit-collection {
  margin: auto;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #B5B5B5;
  border: none;
}

.collection-add-item {
  width: 236px;
  height: 236px;
  background: #EFEFEF;
  border-radius: 10px;
  margin-left: 5%;
  img {
    vertical-align: middle;
    width: 40px;
    height: 40px;
  }
}

.collection-add-item:hover {
  background: #B5B5B5;
}

.collection-details {
  width: 300px;
  height: 230px;
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
}

.collection-details:hover {
  background: #EFEFEF;
  button {
    background: #EFEFEF;
  }
}

.collection-list ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}

//  COLLECTION_FORM  //

.create-collection-background{
  font-family: 'PT Sans', sans-serif;
  background: white;
  width: 600px;
  height: 309px;
  border-radius: 20px;
  h1 {
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    padding: 20px;
    color: #555555;
  }
}

.create-collection-container {
  font-weight: 500;
  position: relative;
  margin: 0 20px 0 20px;
  form {
    position: relative;
    label {
      color: #555555;

    }
    textarea {
      position: absolute;
      top: 0px;
      left: 110px;
      padding: 10px;
      width: 426px;
      border: 1px solid #555555;
      font-size: 16px;
      font-family: 'PT Sans', sans-serif;
      border-radius: 10px;
    }
    button {
      position: absolute;
      top: 160px;
      right: 30px;
      padding: 10px;
      background: #CD0000;
      color: white;
      font-size: 16px;
      font-family: 'PT Sans', sans-serif;
      border-radius: 10px;
      cursor: pointer;
    }

    button:hover {
      filter: brightness(90%);
    }
  }
  button {
    position: absolute;
    top: 160px;
    right: 90px;
    padding: 10px;
    background: #e8e8e8;
    color: #555555;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    border-radius: 10px;
    cursor: pointer;
  }

  button:hover {
    filter: brightness(90%);
  }
}

.col-description {
  position: relative;
  display: flex;
}

.description-label {
  position: absolute;
  top: 20px;
  color: #555555;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  width: 426px;
}

.title-input {
  width: 426px;
  background: white;
  border: 1px solid grey;
  margin-left: 70px;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
}

.collection-thumbnail img {
  border-radius: 10px;
  display: flex;
}

.img-right {
  float: right;
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.img-1 {
  float: left;
  object-fit: cover;
  height: 184px;
  width: 150px;
}

.img-2 {
  max-height: 100px;
  object-fit: cover;
}

.img-3 {
  object-fit: cover;
  max-height: 100px;
}

.collection-description {
  width: 300px;
  font-family: 'Open Sans', sans-serif;
}

.collection-thumbnail:after {
  content: '';
  display: block;
  clear: both;
}

.delete-collection-show {
  position: relative;
  top: -80px;
  left: 10px;
  padding: 10px;
  color: #B5B5B5;
}

.delete-collection-show:hover {
  background: #B5B5B5;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}
