// Place all the styles related to the Api::Collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.EditCollection {
  // position: absolute;
  // z-index: 5;
  // float: left;
  // top: 15px;
  // left: 15px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: none;
}

.edit-img {
  background: white;
  padding: 10px;
  border-radius: 50%;
  overflow: visible;
}

.addCollection {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: none;
}

.items {
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1000px;
  margin: 1.5%;
  button {
    margin-left: 10px;
  }
}

.collection-show-title {
  font-size: 50px;
  color: #555555;
  font-weight: 700;
}

.collection-info p {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

.edit-collection {
  margin: auto;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #B5B5B5;
  border: none;
}

.collection-add-item {
  width: 236px;
  height: 236px;
  background: #EFEFEF;
  border-radius: 10px;
  img {
    margin: auto;
    vertical-align: middle;
    width: 40px;
    height: 40px;
  }
}

.collection-add-item:hover {
  background: #B5B5B5;
}
