.form-header {
  align-content: center;
  font-family: 'PT Sans', sans-serif;
  color: #686868;
  padding: 10px;
}

.create-item-container {
  background: #fcfcfc;
  width: 660px;
  height: 660px;
  border-radius: 10px;
  form {
    position: relative;
  }
}

.form-img-holder {
  margin-left: 50px;
  background: black;
  background: #fcfcfc;
  width: 232px;
  height: 367px;
  border: 2px dashed grey;
  border-radius: 10px;
  padding-bottom: 10px;
}

.form-img-input {
  position: relative;
  input {
    display: block;
    position: absolute;
    left: 50px;
  }
}

.file-btn {
  padding-left: 35px;
}

.collect-bar {
  height: 44px;
  width: 1026px;
  padding: 14px 32px 14px 32px;
  position: relative;
}

.item-show {
  background: #EEEEEE;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 459px;
  overflow: auto;
}

.item-container-outer {
  width: 800px;
  background: white;
  margin: auto;
  border-radius: 10px;
}

.item-container {
  width: 95%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

.item-show-details {
  display: flex;
  justify-content: space-around;
}

.item-details {
  position: relative;
  width: 236px;
  padding: 8px;
  margin: 3px;
  overflow: hidden;
  cursor: zoom-in;
}

.img-holder {
  max-width: 428px;
  background: white;
  vertical-align: baseline;
  cursor: zoom-in;
}

.item-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}


.item-info {
  width: 300px;
  margin: auto;
}

.item-info-links {
  padding: 5px;
  display: inline-block;
  border-radius: 50px;
  transform: translate(0, 5%);
  img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: white;
    vertical-align: middle;
    transform: translate(0, -10%);
  }
}

.item-info-links:hover {
  text-decoration: underline;
}

.link-container {
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  margin-top: 10px;
  border-top: 1px solid #EFEFEF;
  display: flex;
  justify-content: center;
}

.item-info-links:last-of-type {
  transform: translate(0, -1.5%);
}

.item-list {
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // max-height: 5000px;
  // margin: 1.5%;
  display: grid;
  margin: 150px;
}

@media (min-width: 500px) {
  .item-list {
    grid-template-columns: repeat(auto-fit, 1fr);
  }

  .item-details {
    
  }
}
//max pin size
//236x500

.item-description {
  max-height: 38px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #686868;
  cursor: zoom-in;
}

.item-description-show {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #686868;
}

.form-item-description {
  max-height: 38px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #686868;
  margin-left: 50px;
  width: 232px;
}

.item-index {
  // width: inherit;
}

.item-img-details {
  display: inline-block;
  width: 236px;
  border-radius: 10px;
  max-height: 500px;
  overflow: hidden;
  cursor: zoom-in;
}

.item-details:hover {
  background: #e8e8e8;
  border-radius: 10px;
}

.collection-list-header {
  padding: 20px;
  border-bottom: 1px solid grey;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.collections-list-container {
  position: absolute;
  top: -63px;
  left: 330px;
  border-left: 1px solid grey;
  width: 330px;
  button {
    padding: 15px;
  }
}

.collections-list {
  height: 622px;
  overflow: scroll;
  width: 330px;
  font-family: 'Roboto', sans-serif;
  button {
    margin-right: 20px;
    cursor: pointer;
    width: 330px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid grey;
    font-size: 16px;
  }
}

.collections-list button:hover {
  background: #c6c6c6;
}

.collect-btn {
  display: none;
}

.collections-list button:hover {
  .collect-btn {
    height: 50px;
    display: block;
    margin-right: 20px;
    cursor: pointer;
  }
}

.collection-title {
  text-align: center;

}

.parent-index {
  position: relative;
}

.EditItem {
  position: absolute;
  z-index: 5;
  float: left;
  top: 15px;
  left: 15px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: none;
}

.edit-img {
  background: white;
  padding: 10px;
  border-radius: 50%;
  overflow: visible;
}

.CollectItem {
  position: absolute;
  z-index: 5;
  float: right;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 120px;
  height: 40px;
  border: none;
  img {
    cursor: pointer;
  }
}

.addItem {
  position: fixed;
  z-index: 5;
  float: right;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  width: 39px;
  height: 39px;
}

.back {
  padding: 5px 10px;
  border-radius: 50px;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 20px;
  color: #565656;
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;
  p {
    font-size: 16px;
    margin-left: 10px;
  }
}

.back:hover {
  background: #d6d6d6;
}

.edit-btn {
  position: absolute;
  z-index: 5;
  float: left;
  top: 5px;
  left: 5px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #B5B5B5;
  border: none;
}

.edit-item-show:hover {
  background: #d6d6d6;
  border-radius: 100%;
}

.collect-item-show {
  position: absolute;
  z-index: 5;
  float: right;
  top: 5px;
  right: 65px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border: none;
  img {
    cursor: pointer;
  }
}

.collect-item-show:hover {
  filter: brightness(90%);
}
