// Place all the styles related to the Api::Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-details {
  width: 240px;
  padding: 15px;
}

.item-container {
  width: 500px;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3%;
}

.item-img-details {
  width: 240px;
  border-radius: 10px;
}
