// Place all the styles related to the Api::Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-header {
  align-content: center;
  font-family: 'PT Sans', sans-serif;
  color: #686868;
}

.create-item-container {
  background: #fcfcfc;
  width: 804px;
  border-radius: 10px;
  min-height: 459px;
}

.form-img-holder {
  margin-left: 80px;
  background: black;
  background: #fcfcfc;
  width: 232px;
  height: 367px;
  border: 2px dashed grey;
  border-radius: 10px;
}

.file-btn {
  padding-left: 35px;
}

.collect-bar {
  height: 44px;
  width: 1026px;
  padding: 14px 32px 14px 32px;
  position: relative;
}

.item-show {
  background: #EEEEEE;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 459px;
  overflow: auto;
}

.item-container-outer {
  width: 800px;
  background: white;
  margin: auto;
  border-radius: 10px;
}

.item-container {
  width: 95%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

.item-show-details {
  display: flex;
  justify-content: space-around;
}

.item-details {
  position: relative;
  width: 236px;
  padding: 8px;
  margin: 3px;
  overflow: hidden;
}

.img-holder {
  // margin-left:
  max-width: 428px;
  background: white;
  vertical-align: baseline;
}

.item-img {
  border-radius: 10px;
  width: 100%;
}


.item-info {
  // padding: 50px;
  width: 300px;
  margin: auto;
}

.item-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 5000px;
  margin: 1.5%;
}
//max pin size
//236x500

.item-description {
  max-height: 38px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #686868;
}

.form-item-description {
  max-height: 38px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #686868;
  // background: blue;
  margin-left: 80px;
  width: 232px;
}

.item-index {
  // width: inherit;
}

.item-img-details {
  display: inline-block;
  width: 236px;
  border-radius: 10px;
  max-height: 500px;
  overflow: hidden;
}

.item-details:hover {
  background: #e8e8e8;
  border-radius: 10px;
}

.collection-list-header {
}

.collections-list-container {
  float: right;
  position: absolute;
  top: 150px;
  left: 375px;
  margin-right: 50px;
  // background: green;
  padding: 10px;
  width: 314px;
}

.collections-list button {
  display: flex;
  align-items: center;
  text-align: center;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.collections-list button:hover {
  background: #c6c6c6;
}

.collect-btn {
  right: 0;
  height: 20px;
}

.collection-title {
  text-align: center;

}

.parent-index {
  position: relative;
}

.EditItem {
  position: absolute;
  z-index: 5;
  float: left;
  top: 15px;
  left: 15px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: none;
}

.edit-img {
  background: white;
  padding: 10px;
  border-radius: 50%;
  overflow: visible;
}

.CollectItem {
  position: absolute;
  z-index: 5;
  float: right;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 120px;
  height: 40px;
  border: none;
}

.addItem {
  position: fixed;
  z-index: 5;
  float: right;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  width: 39px;
  height: 39px;
}

.back {
  padding: 5px 10px;
  border-radius: 50px;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 20px;
  color: #565656;
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;
  p {
    font-size: 16px;
    margin-left: 10px;
  }
}

.back:hover {
  background: #d6d6d6;
}

.edit-item-show {
  position: absolute;
  z-index: 5;
  float: left;
  top: 5px;
  left: 5px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #B5B5B5;
  border: none;
}

.edit-item-show:hover {
  background: #d6d6d6;
  border-radius: 100%;
}

.collect-item-show {
  position: absolute;
  z-index: 5;
  float: right;
  top: 5px;
  right: 65px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border: none;
}

.collect-item-show:hover {
  filter: brightness(90%);
}
