.nav-bar-container {
  position: relative;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  padding: 0;
  margin: 0;
  position: sticky;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
}

.nav-bar-left {
  display: flex;
  justify-content: center;
}

.home-btn {
  background: #11ffee00;
  padding: 8px;
  margin: 5px;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
}

.home-btn:active {
  background: #e8e8e8;
  border-radius: 30px;
}

.search {
  margin-left: 30px;
  align-self: center;
}

.search input {
  align-self: center;
  font-size: 16px;
}

.nav-bar-right {
  a {
    padding: 10px;
  }
  img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    padding: 5px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 20px;
  }
  vertical-align: middle;
  font-size: 16px;
  color: #555555;
  padding: 0 20px;
  font-weight: 700;

}

.nav-bar-right > a:hover {
    background: #e8e8e8;
    border-radius: 20px;
}


.nav-bar-right > button:hover {
  background: #e8e8e8;
  border-radius: 20px;
}
