/* line 1, /Users/rebeccaweir/Documents/TheCollective/app/assets/stylesheets/api/modal.scss */
.outer-modal {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 5000px;
  padding-top: 60px;
  background-color: rgba(45, 45, 45, 0.8);
  cursor: zoom-out;
}

/* line 13, /Users/rebeccaweir/Documents/TheCollective/app/assets/stylesheets/api/modal.scss */
.inner-modal {
  position: fixed;
  top: 60px;
  left: 30%;
  opacity: 1;
  cursor: default;
  z-index: 20;
}
