/* line 1, /Users/rebeccaweir/Documents/TheCollective/app/assets/stylesheets/base/reset.scss */
html, body, header, nav, h1, a,
ul, li, main, button,
section, img, div, h2, p, form,
input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  max-width: 100%;
  color: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  cursor: default;
}
