/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'base/reset.scss';
@import 'api/**/*';

body {
  background: #fcfcfc;
}

.nav-bar-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  padding: 0;
  margin: 0;
}

.home-btn {
  background: #11ffee00;
  border: 0;
}

.nav-bar-left:focus {

}

.logout-btn {
}

.logo {
  width: 40px;
  height: 40px;
}
